.inner {
  margin-left: 1rem;

  .badge.active {
    margin-top: 1rem;
    position: fixed;
    width: 100px;
    height: 100px;

    display: block;

    img {
      opacity: 1;
      transition-duration: 1s;
      border-radius: 5px;
      width: 10vw;
      height: 10vh;
    }
  }
  .badge.off {
    margin-top: 1rem;
    position: fixed;
    width: 100px;
    height: 100px;

    display: block;

    img {
      opacity: 0;
      transition-duration: 1s;
      border-radius: 5px;
      width: 10vw;
      height: 10vh;
    }
  }
}
