@import "./colors";
@import "./mixins";

.main {
  width: 100%;
  padding-bottom: 10rem;
  background-color: $cream-color;
}

.center-text {
  @include flex-center;
  justify-content: center;

  h1 {
    color: $gray-color;
    margin-top: 2rem;
    font-size: 4rem;
  }
}

.allExp {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(4, 200px);
  justify-content: space-around;
  gap: 3rem;
  text-align: center;

  .exps {
    .gift {
      align-items: center;

      img {
        border-radius: 50%;
        background-color: $main-color;
        width: 5rem;
        margin-left: 1rem;
      }
    }
  }
}
