@import "./colors";
@import "./mixins";
@import "./fonts";
.header {
  position: sticky;
  top: 0;
  background-color: $main-color;
  width: 100vw;
  nav {
    @include flex-center;
    justify-content: space-between;
    height: 4rem;
    background-color: $main-color;
    .ul-items {
      list-style: none;

      .li-items {
        a {
          text-decoration: none;
          color: $secondary-color;
          margin: 0 1rem;
          font-size: 12px;
        }
        .orange {
          color: $orange-color;
        }
      }
    }
  }
  .logo {
    text-transform: uppercase;
    margin-right: 2rem;
    font-family: $font-roboto;
  }
  .right {
    @include flex-center;
    .search {
      @include flex-center;
      margin-right: 5rem;

      .search-icon {
        color: $gray-color;
        font-size: 20px;
      }
    }
    .sch-btn {
      background: none;
      border: none;
      cursor: pointer;
    }
  }
  .right-buttons {
    @include flex-center;
    margin-right: 1rem;

    button {
      margin: 0 1rem;
      background: none;
      border: none;
      cursor: pointer;

      a {
        text-decoration: none;
        color: $gray-color;
      }
    }
    .basket {
      color: $bascket-color;
    }
  }

  .menu__mobile-button {
    float: right;
    height: 32px;
    padding: 6px;
    margin-top: 8px;
    display: none !important; /* use of important to overwrite ant-btn */
  }
  //반응형 navBar 1000px이 되면 drawer와 logo만 남는다.
  //pc 150%확대시 작동

  .ant-drawer-body {
    padding: 0 !important;
    background: black;
  }

  /* align header of Drawer with header of page */
  .ant-drawer-header {
    padding: 14px 24px !important;
  }
  .menu_drawer {
    background: black;
  }
  @media (max-width: 80vw) {
    .menu__mobile-button {
      display: inline-block !important;
    }

    .logo {
      margin-left: 30%;
    }

    .ul-items,
    .right {
      display: none;
    }
  }
}
